{% extends 'monitoring.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    <title> Monitoring | Proyek </title> 
{% endblock %}
{% block content_pengguna %}
    <style>
        .pointer:hover{
            cursor: pointer;
        }
    </style>
    <div class="container d-flex flex-column vh-100 p-3">
        <div class="card h-100 shadow-sm">
            <div class="card-header">
                <div class="d-sm-flex flex-row justify-content-between">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <img src="{% static 'img/ico_proyek_black.svg' %}" draggable="false" style="width: 32px; height: 32px">
                        <span class="mx-2" style="font-size:1.5em; font-weight: 400">Tambah Kegiatan</span>
                    </div>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-success" id="btn_simpanData" onclick="save_form()">Simpan Data</button>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto hide_scroll">
                <form action="save_kegiatan" id="form_kegiatan" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column h-100">
                        <label for="nama_kegiatan" class="form-label">Nama Kegiatan</label>
                        <input class="form-control w-50" type="text" placeholder="Masukkan nama kegiatan" name="nama_kegiatan" id="input_nama_kegiatan" required>

                        <label for="budget_kegiatan" class="form-label mt-4">Budget Kegiatan</label>
                        <div class="input-group w-50">
                            <span class="input-group-text" id="addon-wrapping">IDR</span>
                            <input class="form-control" type="number" step="any" placeholder="Masukkan budget kegiatan" name="budget_kegiatan" value="0.00" onkeyup="harga_tip(this.value)" id="input_harga_kegiatan" min="1000" max="{{data_detail_investasi_value.sisa|stringformat:".2f"}}" required>
                        </div>
                        <div id="hargaHelp" class="form-text ms-1 pointer" onclick="setInputtoMAX(this)" data-value="{{data_detail_investasi_value.sisa|stringformat:".2f"}}">IDR 0.00 (Max: IDR{{data_detail_investasi_value.sisa|intcomma}})</div>

                        <label for="uraian" class="form-label mt-4">Uraian Kegiatan</label>
                        <textarea name="uraian" class="form-control w-50" id="input_uraian" required></textarea>

                        <label for="tanggal_mulai" class="form-label mt-4">Tanggal Mulai Kegiatan</label>
                        <input type="date" class="form-control w-50" min="{{data_detail_investasi_value.tanggal_mulai_detail_investasi|date:"Y-m-d"}}" max="{{data_detail_investasi_value.tanggal_selesai_detail_investasi|date:"Y-m-d"}}" name="tanggal_mulai" id="input_tanggal_mulai" required>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function setInputtoMAX(val){
            document.getElementById("input_harga_kegiatan").value = val.getAttribute("data-value");
        }

        function harga_tip(val){
            var formatter = new Intl.NumberFormat('en-US', {
                maximumFractionDigits: 2,
                roundingIncrement: 5
            });

            document.getElementById("hargaHelp").innerHTML = "IDR "+formatter.format(val)+" (Max: IDR"+formatter.format(document.getElementById("input_harga_kegiatan").max)+")";
        }

        setInterval(function(){
            getsisa();
        }, 1000);

        function getsisa(){
            const url = "{% url 'ajax_sisa_kegiatan' %}";        // get the url of the view
            const id_pekerjaan = "{{id_pekerjaan}}";

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (=)
                data: {
                    'id_pekerjaan': id_pekerjaan     
                },
                success: function (data) {   // `data` is the return of the view function
                    document.getElementById("input_harga_kegiatan").max = data[2];
                    var formatter = new Intl.NumberFormat('en-US', {
                        maximumFractionDigits: 2,
                        roundingIncrement: 5
                    });
                    document.getElementById("hargaHelp").innerHTML = "IDR "+formatter.format(document.getElementById("input_harga_kegiatan").value)+" (Max: IDR"+formatter.format(data[2])+")";
                }
            });
        }

        function save_form(){
            var valid
            valid = document.getElementById("form_kegiatan").checkValidity();
            if (valid == false){
              alert("Salah satu isian tidak valid");
            } else {
              document.getElementById("form_kegiatan").submit();
            }
        }
        
        $(document).ready(function() {
            getsisa();
            document.getElementById("hargaHelp").innerHTML = "IDR "+document.getElementById("input_harga_kegiatan").value+" (Max: IDR{{data_detail_investasi_value.sisa|intcomma}})";
        });
    </script>
{% endblock %}