{% extends 'monitoring.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    <title> Monitoring | Proyek </title> 
{% endblock %}
{% block content_pengguna %}
<style>
    .pointer:hover{
        cursor: pointer;
    }
</style>
    <div class="container d-flex flex-column vh-100 p-3">
        <div class="card h-100 shadow-sm">
            <div class="card-header">
                <div class="d-sm-flex flex-row justify-content-between">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <img src="{% static 'img/ico_proyek_black.svg' %}" draggable="false" style="width: 32px; height: 32px">
                        <span class="mx-2" style="font-size:1.5em; font-weight: 400">Tambah Pekerjaan</span>
                    </div>
                    <div class="d-flex flex-row">
                        <button type="button" class="btn btn-success" id="btn_simpanData" onclick="save_form()">Simpan Data</button>
                    </div>
                </div>
            </div>
            <div class="card-body overflow-auto hide_scroll">
                <form action="/proyek/detail_proyek/{{data_investasi_value.id_investasi}}/save_pekerjaan" id="form_pekerjaan" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-column h-100">
                        <label for="nama_pekerjaan" class="form-label">Nama Pekerjaan</label>
                        <input class="form-control w-50" type="text" placeholder="Masukkan nama pekerjaan" name="nama_pekerjaan" value="" id="input_nama_pekerjaan" required>

                        <label for="budget_pekerjaan" class="form-label mt-4">Budget Pekerjaan</label>

                        <div class="input-group w-50">
                            <span class="input-group-text" id="addon-wrapping">Rp</span>
                            <input class="form-control" type="number" step="any" placeholder="Masukkan budget pekerjaan" name="budget_pekerjaan" value="0.00" onkeyup="harga_tip(this.value)" id="input_harga_proyek" max="{{sisa|stringformat:".2f"}}" min="1000" required>
                        </div>
                        <div id="hargaHelp" class="form-text ms-1 pointer" title="klik untuk mengatur budget sampai maksimal" onclick="setInputtoMAX(this)" data-value="{{sisa|stringformat:".2f"}}">Rp 0.00 (Max: Rp{{sisa|intcomma}})</div>

                        <label for="uraian" class="form-label mt-4">Uraian Pekerjaan</label>
                        <textarea name="uraian" class="form-control w-50" id="input_uraian" required></textarea>

                        <label for="tanggal_mulai" class="form-label mt-4">Tanggal Mulai Pekerjaan</label>
                        <input type="date" class="form-control w-50" min="{{data_investasi_value.tanggal_mulai|date:"Y-m-d"}}" name="tanggal_mulai" id="input_tanggal_mulai" onchange="set_Tglmax(this.value)" required>

                        <label for="tanggal_selesai" class="form-label mt-4">Tanggal Selesai Pekerjaan</label>
                        <input type="date" class="form-control w-50" min="{{data_investasi_value.tanggal_mulai|date:"Y-m-d"}}" name="tanggal_selesai" id="input_tanggal_selesai_mulai" readonly required>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function setInputtoMAX(val){
            document.getElementById("input_harga_proyek").value = val.getAttribute("data-value");
        }

        function set_Tglmax(val){
            document.getElementById("input_tanggal_selesai_mulai").min = val;
            document.getElementById("input_tanggal_selesai_mulai").value = "";
            document.getElementById("input_tanggal_selesai_mulai").readOnly = false;
        }

        function harga_tip(val){
            var formatter = new Intl.NumberFormat('en-US', {
                maximumFractionDigits: 2,
                roundingIncrement: 5
            });

            document.getElementById("hargaHelp").innerHTML = "Rp "+formatter.format(val)+" (Max: Rp"+formatter.format(document.getElementById("input_harga_proyek").max)+")";
        }

        
        setInterval(function(){
            getsisa();
        }, 1000);

        function getsisa(){
            const url = "{% url 'ajax_sisa_investasi' %}";        // get the url of the view
            const id_investasi = "{{id_investasi}}";

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (=)
                data: {
                    'id_investasi': id_investasi     
                },
                success: function (data) {   // `data` is the return of the view function
                    document.getElementById("input_harga_proyek").max = data;
                    var formatter = new Intl.NumberFormat('en-US', {
                        maximumFractionDigits: 2,
                        roundingIncrement: 5
                    });
                    document.getElementById("hargaHelp").innerHTML = "Rp "+formatter.format(document.getElementById("input_harga_proyek").value)+" (Max: Rp"+formatter.format(data)+")";
                }
            });
        }

        function save_form(){
            var valid
            valid = document.getElementById("form_pekerjaan").checkValidity();
            if (valid == false){
              alert("Salah satu isian tidak valid");
            } else {
              document.getElementById("form_pekerjaan").submit();
            }
        }
        
        $(document).ready(function() {
            getsisa();
            document.getElementById("hargaHelp").innerHTML = "Rp "+document.getElementById("input_harga_proyek").value+" (Max: Rp{{data_investasi_value.sisa|intcomma}})";
        });
    </script>
{% endblock %}